{{set . "title" "Logprecios"}}
{{template "header.html" .}}
{{template "flash.html" .}}

<div class="fixed contain-to-grid">
    <nav class="top-bar">
        <ul>
            <li class="name"><h1><a href="/">LogPrecios</a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
            <ul class="left">
                <li><a href="">Estadísticas</a></li>
            </ul>

            <ul class="right">
                <li>
                    <a href="">Agregar producto</a>
                </li>
            </ul>
        </section>
    </nav>
</div>
<div class="row">
<ul class="breadcrumbs">
<li><a href="/"><span class="current">Inicio</span></a></li>
</ul>
</div>

{{template "footer.html" .}}

